@tailwind base;
@tailwind components;
@tailwind utilities;


/* ---------------- Anchor tags ------------------ */
a, a:active {
  color: rgb(86, 86, 86);
}
a:hover {
  color: #0694a2;
}


/* ----------------------------------------------- */

.bg-pink {
    background-color: rgb(203, 176, 228);
}

.custom-blog-card {
    width: 300px !important;
}

.realistic-marker-highlight{
    position:relative;
  }
  
.realistic-marker-highlight:before{
    content:"";
    background-color:#ff6db7;
    width:100%;
    height:1em;
    position:absolute;
    z-index:-1;
    filter:url(#marker-shape);
    left:-0.25em;
    top:0.1em;
    padding:0 0.25em;
}

/* -------------- TOOLTIP --------------  */
.tooltip::before {
  z-index: 100;
}

/* -------------- TITLE HIGHLIGHT --------------  */

.circle-sketch-highlight{
    position:relative;
  }
  
  .circle-sketch-highlight:before{
    content:"";
    z-index:-1;
    left:-0.5em;
    top:-0.1em;
    border-width:4px;
    border-style:solid;
    border-color:rgb(43, 176, 10);
    position:absolute;
    border-right-color:transparent;
    width:100%;
    height:1.2em;
    transform:rotate(2deg);
    opacity:0.5;
    border-radius:50%;
    padding:0.1em 0.25em;
    transform: rotate(-5deg);
  }
  
  .circle-sketch-highlight:after{
    content:"";
    z-index:-1;
    left:-0.5em;
    top:-0.01em;
    padding:0.1em 0.25em;
    border-width:3px;
    border-style:solid;
    border-color:rgb(43, 176, 10);
    border-left-color:transparent;
    border-top-color:transparent;
    position:absolute;
    width:100%;
    height:1.2em;
    transform:rotate(-6deg);
    opacity:0.5;
    border-radius:50%;
  }

/* Media query for mobile screens */
@media only screen and (max-width: 767px) { /* Adjustable breakpoint as needed */
    .circle-sketch-highlight:before {
      /* Mobile-specific styles */
      width: 190%; /* Increase width to 190% */
      /* Other mobile-specific styling, if needed */
    }
    .circle-sketch-highlight:after {
        /* Mobile-specific styles */
        width: 190%; /* Increase width to 190% */
        /* Other mobile-specific styling, if needed */
      }
  }

/* Media query for mobile screens */
@media only screen and (max-width: 911px) { /* Adjustable breakpoint as needed */
    .circle-sketch-highlight:before {
      /* Mobile-specific styles */
      width: 190%; /* Increase width to 190% */
      /* Other mobile-specific styling, if needed */
    }
    .circle-sketch-highlight:after {
        /* Mobile-specific styles */
        width: 190%; /* Increase width to 190% */
        /* Other mobile-specific styling, if needed */
      }
  }

/* -------------- GLOBAL SCROLL BARS --------------  */

  /* width */
.styled-scroll-1::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

/* Track */
.styled-scroll-1::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.styled-scroll-1::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
.styled-scroll-1::-webkit-scrollbar-thumb:hover {
  background: #555;
}

  /* width */
  .styled-scroll-none::-webkit-scrollbar {
    width: 4px;
    height: 0px;
  }
  
  /* Track */
  .styled-scroll-none::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  .styled-scroll-none::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .styled-scroll-none::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  * {
    scroll-behavior: smooth;
  }
  
  .feature-card:hover {
    background: var(--black-gradient);
    box-shadow: var(--card-shadow);
  }
  
  .feedback-card {
    background: transparent;
  }
  
  .feedback-card:hover {
    background: var(--black-gradient);
  }
  
  .bg-blue-gradient {
    background: linear-gradient(
      157.81deg,
      #def9fa -43.27%,
      #bef3f5 -21.24%,
      #9dedf0 12.19%,
      #7de7eb 29.82%,
      #5ce1e6 51.94%,
      #33bbcf 90.29%
    );
  }
  
  .slider-container {
    @apply w-full;
  }